<%= form_for(@lot) do |f| %>
  <% if @lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% @lot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :createDate %><br />
    <%= f.datetime_select :createDate %>
  </div>
  <div class="field">
    <%= f.label :expireDate %><br />
    <%= f.datetime_select :expireDate %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :currentAmount %><br />
    <%= f.text_field :currentAmount %>
  </div>
  <div class="field">
    <%= f.label :productId %><br />
    <%= f.text_field :productId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
