<h1>Listing lots</h1>

<table>
  <tr>
    <th>Createdate</th>
    <th>Expiredate</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Currentamount</th>
    <th>Productid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lots.each do |lot| %>
  <tr>
    <td><%= lot.createDate %></td>
    <td><%= lot.expireDate %></td>
    <td><%= lot.description %></td>
    <td><%= lot.amount %></td>
    <td><%= lot.currentAmount %></td>
    <td><%= lot.productId %></td>
    <td><%= link_to 'Show', lot %></td>
    <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
    <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lot', new_lot_path %>
